<html>
    <head>
        <title>{{ title }} </title>
    </head>

    <body style = "background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Merck_Sharp_%26_Dohme_%28MSD%29.svg/2000px-Merck_Sharp_%26_Dohme_%28MSD%29.svg.png) no-repeat; background-size: 30%;background-position:center bottom;">

    <body>
        <center><h1>SYSTEM DATE AND TIME {{ time }} <BR><BR></h1><center>
        <center> <h1>  {{ usage }} <BR><BR></h1><center>
        <center><h1>IP ADDRESS {{ address }} <BR><BR></h1><center>
        <center><h1>ODD NUMBERS {{ odd }} <BR><BR></h1><center>
        <center><h1>EVEN NUMBERS {{ even }} <BR><BR></h1><center>
    </body>

</html>
