---

- name: install python dependencies
  yum:
    name: "{{ item }}"
    state: latest

  with_items:
    - python-devel 
    - gcc
    

- name: install pip packages
  pip:
    name: "{{ item }}"
  
  with_items:
    - psutil
    - flask
    - uwsgi
    - netifaces


- name: Copy the python app
  copy:
    src: app
    dest: /etc/nginx/
    owner: root
    group: root
    mode: 0644


- name: Copy the nginx config file
  copy:
    src: nginx.conf
    dest: /etc/nginx/
    owner: root
    group: root
    mode: 0644


- name: set Selinux to permissive
  command: setenforce Permissive


#- name: start uWSGI to serve the flask app
#  shell: cd /etc/nginx/app; uwsgi --socket 0.0.0.0:8000   -w wsgi --socket-timeout=6 &


#- name: check that ports are not in use
#  command: /usr/sbin/fuser -k -n tcp 443


#- name: start Nginx
#  service: 
#   name=nginx 
#    state=restarted
